<!DOCTYPE>
	<html>
	<head>
		<title>Happy Couponing!</title>
		<link href='https://fonts.googleapis.com/css?family=Rochester' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
	</head>
	<body>

		<nav>
			{{!-- <a href='/'><h1> Your profile </h1></a> --}}

		</nav>

	    {{!-- {{{ body }}} --}}

	    <script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
		<script type="text/javascript" src="/script.js"></script>
	</body>
</html>