*{
	margin: 0;
	padding: 0;
}

body {
	background: #F8F8F6;
	font-family: 'Josefin Sans', sans-serif;
    background-image: url('../Images/full-bloom.png')
}

/*===================*/
/*NAVIGATION BAR STUFF*/
/*===================*/
nav{
	position: fixed;
	top: 0;
	width: 100%;
	display: inline-block;
	background: white;
	padding: 0.5em;
	z-index: 1;
	border-bottom: 1px solid #B9D6C2;
	box-shadow: 0px 1px 1px #888888;
	min-width: 480px;

}

nav a {
	color: black;
}

nav h1 {
	padding-left: 10%;
	padding-top: 4px;
	color: black;
	font-family: 'Rochester', cursive;
	display: inline-block;
	font-size: 3em;
}
/*===================*/
/* MAIN SECTION      */
/*===================*/
main {
	
	display: inline-block;
	margin: 0 auto;
	margin-top: 180px;
}

.main-img {
	width: 100%;
	max-width: 300px;
	border-bottom: 1px solid #B9D6C2;
}



/*===================*/
/* SIDE MENU         */
/*===================*/

.sidebar{
	text-align: center;
	position: fixed;
	height: 440px;
	margin-top: 120px;
	width: 20%;
	display: inline-block;
	background: white;
	border-radius: 4px;
    border: 1px solid #B9D6C2;
    margin-left: 5%;
    padding: .5em;
    overflow: auto;
}

.sidebar img{
	width: 80%;
}
.card{
    display: inline-block;
}
.storesImage{
    height: 300px;
    width: 300px
}


a {
	color: #0FBCF1;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/*===================*/
/* INPUT FORMS       */
/*===================*/

input {
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	width: 50%;
	height: 30px;
	font-size: 12px;
}

#edit-form {
	text-align: left;
}

#img-preview{
	width: 50%;
	display: inline-block;
	position: absolute;
    top: 34%;
    right: -14%;
}

/*===================*/
/* MEDIA QUERIES     */
/*===================*/

/*for devices 480px and smaller*/
@media (max-width: 480px) {
    #img-preview {
        display: none;
    }

    .donut-container p{
    	display: none;
    }

    .sidebar {
    	display: none;
    }

    main {
    	width: 100%;
    }
}
/* aligned header div and stretched out using span */
.header1 {
    grid-area: 1/1;
    grid-column: span 5;
    
    height: 500px;
    display: flex;
    justify-content: center;     
    background-size: 100% 100%;
    background-repeat: no-repeat;   
    background-image: url('../Images/full-bloom.png');
    border-radius: 25px; 
}
/* adjusted logo image in header */
.shopping{
   position: absolute;
   margin-top: 0%;
   height: 50%;
   width: 120%;
  
}
/* changed font-size of title */
.title{
    font-size: 50px;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
   
}
/* added color to spanned letters */
.k {
    color: red;
}
/* made span letters bigger and added color */
span{
    font-size: 80px;
    color: #0FBCF1;
    
}
.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
/* used animation from animista.com */

/* ----------------------------------------------
 * Generated by Animista on 2018-9-18 13:44:28
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
}
/* assigned text for full site and background-color */
body{
    font-family: fantasy;
    background-image: url('../Images//dark-grey-terrazzo.png');
}
.content1 {
    grid-area: 3/2;
    height: 600px;
    width: 100%;
    border: solid;
    grid-column: span 4;
    overflow: scroll;  
    background-image: url('../Images/full-bloom.png');
    border-radius: 25px;
   
}
.contentWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
h1,h2{
    text-align: center;
}
.footer1 {
    grid-area: 5/1;
    border: solid;
    grid-column: span 5;
    height: 30%;
    background-image: url('../Images/full-bloom.png');
}