<main>

	<h2>Create Your Own Profile!</h2>

	<a href="/">Return to Home Page</a>
	
		<form action="/user" method="POST" class="profileForm">
		
		<input type="text" name="name" placeholder="name">
		
		<input type="text" name="img" placeholder="image">
		 {{!-- <input type="file" name="pic" accept="image/*"> --}}
		
		<br>

		<button type="submit">Submit Profile</button>
		
		
		</form>


</main>