<main>

	<h2>Create Your Own Profile!</h2>

	<a href="/">Return to Home Page</a>

	
		<a action="/" method="POST">
		
		<input type="text" name="name" placeholder="name">
		
		<input type="text" name="img">
		 {{!-- <input type="file" name="pic" accept="image/*"> --}}
		
		
		<a href="/user"><button type="submit">Submit Profile</button></a>
		
		
		</form>


</main>