<h1>Hello {{user.name}} </h1>


<img src="{{user.img}}"/>





<a href="/user/{{user._id}}/edit">Edit Profile</a>


<form action="/{{user._id}}?_method=DELETE" method="POST">
		<button type="submit">Delete your profile</button>
		</form>
<a href="/stores">View Stores</a>


