<h1>Hello {{user.name}} </h1>


<img src="{{user.img}}"/>



{{!-- <button type="reset"></button> --}}

<a href="/user/{{user._id}}/edit">Edit Profile</a>
{{!-- <a href="/">Delete Profile</a> --}}

<form action="/{{user._id}}?_method=DELETE" method="POST">
		<button type="submit">Delete your profile</button>
		</form>
<a href="/stores">Add Stores</a>
