<h1>Coupons Available</h1>
{{#each coupons}}

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{img}}" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">{{name}}
        <br>
        {{type}}
        <br>
        {{description}}
    </p>
  </div>
</div>
{{/each}}


